<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DragonApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootsrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <!-- The Bootstrap grid system has four classes:
              xs (for phones)
              sm (for tablets)
              md (for desktops)
              lg (for larger desktops)-->
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8"><h2 class="text-center">Welcome to DragonApp!</h2></div>
        <div class="col-sm-2"></div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8"><p>DragonApp utilizes the API from www.dnd5eapi.co/ and presents the information in an easy-to-consume format. This is also a project for an engineering apprenticeship. The project requires a single-page webapp that pulls data from a web service (or services), renders some kind of visualization of the data, and allows for at least one point of interaction with the data. </p></div>
        <div class="col-sm-2"></div>
      </div>
      <form>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4"><input type="button" class="btn btn-primary btn-block" id="1" value="Dwarf" onclick="document.getElementById('metadata').style.display='block'"></div>
          <div class="col-sm-4"><input type="button" class="btn btn-primary btn-block" id="2" value="Elf" onclick="document.getElementById('metadata').style.display='block'"></div>
          <div class="col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-sm-12"></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4"><input type="button" class="btn btn-primary btn-block" id="3" value="Halfling" onclick="document.getElementById('metadata').style.display='block'"></div>
          <div class="col-sm-4"><input type="button" class="btn btn-primary btn-block" id="4" value="Human" onclick="document.getElementById('metadata').style.display='block'"></div>
          <div class="col-sm-2"></div>
        </div>
      </form>
      <div id="metadata" style="display:none">
        <div class="row">
          <div class="col-sm-12"></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8 well" id="age">
            <h2>Age</h2>
            <div class="data" id="agedata"></div>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8 well" id="alignment">
            <h2>Alignment</h2>
            <div class="data" id="alignmentdata"></div>
          </div>
          <div class="col-sm-2"></div>
      </div>
      <footer>
        <div class="row">
          <div class="col-sm-5"></div>
          <div class="col-sm-2"><p class="text-center">&copy; Kirk Wiebe 2017</p></div>
          <div class="col-sm-5"></div>
        </div>
      </footer>
    </div>
    </div>
    <script src="../static/js/script.js"></script>
  </body>
</html>
